
        
            <div class="header lin-grad">
                    <i class="fa fa-chevron-left" (click) = "goToPrevious()" style="cursor:pointer;margin-left:1%"></i>
                    <div class="title"><h2 class = "titleFont">{{stateData.selectedCampaign.campaignName}}</h2></div>
                    <a class = "anchorLink" *ngIf = "toBeEdited" (click) = "goToFeedback()"><h2 class = "titleFont">Feedback</h2></a>
                    <a class = "anchorLink" *ngIf = "toBeEdited" (click) = "goToViewLogs()"><h2 class = "titleFont">Views</h2></a>

                    <a class = "anchorLink" *ngIf = "toBeEdited" (click) = "editAsset()"><h2 class = "titleFont">Edit</h2></a>
                    
            </div>


            <div class="col col-sm-12 custom_container">
                <form [hidden] = '!toBeEdited'>
                    <div class="row">
                        <div class="col-md-8">
                            <label>
                                <h2 class="titleFont">Asset Name</h2>
                            </label>
                            <input class="form-control input_box" style="height:auto" type="text" [disabled] = "true" [(ngModel)]="stateData.selectedAsset.name" name="name" #name="ngModel">
                            
                        </div>
                        <div class="col-md-2" style="width:14%">
                            <div style="text-align: center;">
                                <p class="titleFont" style="width:122px;margin-top:17%;margin-left: 2%;">QRCOde</p>
                                <p class="titleFont" *ngIf = "!hasQRCode" style="width:122px;margin-left: 2%;font-size:10px;font-weight: 100;margin-top: 25%;">-------</p>
                                <p  class=""  *ngIf = "stateData.selectedCampaign.isValidSubscription && hasQRCode" style="width:122px;margin-left: 2%;margin-top: 25%;">{{stateData.selectedAsset.qrCode}}</p>
                            </div>
                            
                        </div>
                        <div class="col-md-2">
                            <div class="QRButtonHolder">
                                    <button type="button" *ngIf = "stateData.selectedCampaign.isValidSubscription && !hasQRCode" tableindex="4" class="btn btn-default qrCodeGeneratorButton" (click) = "generateQRCode()"><h2 class="titleFont" style="margin-top: 0.5em;margin-bottom: 0.5em;">Generate QR Code</h2></button>
                                    <button type="button" disabled = "true" *ngIf = "!stateData.selectedCampaign.isValidSubscription && !hasQRCode" tableindex="4" class="btn btn-default qrCodeGeneratorButton" (click) = "generateQRCode()" ><h2 class="titleFont" style="margin-top: 0.5em;margin-bottom: 0.5em;">Generate QR Code</h2></button>
                                    <button type="button" *ngIf = "stateData.selectedCampaign.isValidSubscription && hasQRCode" tableindex="4" class="btn btn-default qrCodeGeneratorButton" (click)="print_asset(stateData.selectedAsset)" style="margin-left:2%" ><h2 class="titleFont" style="margin-top: 0.5em;margin-bottom: 0.5em;">Print QR Code</h2></button>
                                   
                                </div>
                        </div>

                    </div>
                    
                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;" >
                            <label>
                            <h2 class="titleFont">Asset Description</h2>
                        </label>

                        <ckeditor debounce="600" [readonly]="true" [(ngModel)]="stateData.selectedAsset.metaData" name="metaData"
                        [config]="{toolbarGroups:[	
                                                    { name: 'editing',groups: [ 'spellchecker' ] },
 			                                        { name: 'basicstyles', groups: [ 'basicstyles' ] },
 			                                        { name: 'styles' },
 			                                        { name: 'colors' },
                                                    { name: 'insert'}
 		                                        ],height:'500px', removePlugins:'elementspath'}">
                                    <!-- <p>{{asset.metaData}}</p> -->
                        </ckeditor>

                    </div>
            </form>



            <form [hidden] = 'toBeEdited'>
                    <div class="row">
                        <div class="col-md-8">
                            <label>
                                <h2 class="titleFont">Asset Name</h2>
                            </label>
                             <input class="form-control input_box"  style="height:auto" type="text"  [(ngModel)]="stateData.selectedAsset.name" name="name" >
                        </div>
                        <div class="col-md-2" style="width:14%">
                            <div style="text-align: center;">
                                <p class="titleFont" style="width:122px;margin-top:17%;margin-left: 2%;">QRCOde</p>
                                <p class="titleFont" *ngIf = "!hasQRCode" style="width:122px;margin-left: 2%;font-size:10px;font-weight: 100;margin-top: 25%;">-------</p>
                                <p  class="titleFont" style="font-weight: 0" *ngIf = "hasSubscrition && hasQRCode" style="width: 100%;margin-left: 2%;margin-top: 25%;">{{stateData.selectedAsset.qrCode}}</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="QRButtonHolder">
                                    <button type="button" *ngIf = "hasSubscrition && !hasQRCode" tableindex="4" class="btn btn-default qrCodeGeneratorButton" (click) = "generateQRCode()"><h2 class="titleFont" style="margin-top: 0.5em;margin-bottom: 0.5em;">Generate QR Code</h2></button>
                                    <button type="button" disabled = "true" *ngIf = "!hasSubscrition && !hasQRCode" tableindex="4" class="btn btn-default qrCodeGeneratorButton" (click) = "generateQRCode()" ><h2 class="titleFont" style="margin-top: 0.5em;margin-bottom: 0.5em;">Generate QR Code</h2></button>
                                    <button type="button" *ngIf = "hasSubscrition && hasQRCode" tableindex="4" class="btn btn-default" (click)="print_asset(stateData.selectedAsset)" ><h2 class="titleFont" style="margin-top: 0.5em;margin-bottom: 0.5em;">Print QR Code</h2></button>
                                   
                                </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-12">
                        <label style="margin-left: -1%;"> -->
                    <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;" >
                        <label>
                            <h2 class="titleFont">Asset Description</h2>
                        </label>


                        <ckeditor  debounce="600" [(ngModel)]="stateData.selectedAsset.metaData" name="metaData" 
                        [config]="{toolbarGroups:[
                                                     { name: 'editing',groups: [ 'spellchecker' ] },
                                                     { name: 'basicstyles', groups: [ 'basicstyles' ] },
                                                     { name: 'styles' },
                                                     { name: 'colors' },
                                                     { name: 'insert'}
                                                ],height:'500px', filebrowserBrowseUrl: '/browser/browse.php',
                                                  filebrowserUploadUrl: '/uploader/upload.php',
                                                  removePlugins:'elementspath'}" >
                        </ckeditor>


                        <button type="button" tableindex="4" class="btn btn-default submit_btn" (click)="saveAssetForCurrCampaign()">Save</button>
                        <button type="button" tableindex="4" class="btn btn-default cancel_btn" (click)="cancel_view()" >Cancel</button>
                        
                    </div>
            </form>
        </div>