<div class = "modaldiv" id="modal">
  
      <div class="modal-header"><span class="modalHeadingFont">Print</span></div>
        <!-- <div id="modal_body" class="modalBody" *ngIf = "!printAllQR"> -->
            <div id="modal_body"  >
        <div id="printQr" style="text-align: center; margin: 5px; ">
                  <div><label style="color: #254984; font-family: sans-serif; font-size: 14px; margin: 6px;"><b>{{asset.name}}</b></label></div>
                  <!-- <img class="qr"   src="{{printable.qr}}">
                  <img class="qr"   src="{{printable.no_qr}}"> -->
                  <!-- <img class="qr_image"  src="{{qrCodeImageBaseURL}}{{asset.qrCodeImageURL}}" class="img-thumbnail" width="100" height="100" > -->
                  <div style="margin: 7px;"><img class="qr_image"  src="{{qrCodeImageBaseURL}}{{asset.qrCodeImageURL}}" class="img-thumbnail" width="200" height="200"></div>
                  <div><label style="color: #254984; font-family: sans-serif; font-size: 14px; margin: 6px;" ><b>{{asset.qrCode}}</b></label></div>
        </div>
  
      </div>
      <!-- <div id="modal_body" class="modalBody" *ngIf = "printAllQR" style="overflow-y:auto;height: 20em;">
             <div class = " " *ngFor="let asset of filteredAssetList; let index=index" style="margin-top: 11px;background:white;border:none;">
                <div class="row-fluid row-style lin-grad">
                    <div class="container-fluid">  
                        <div class="col-md-12 "style="margin-top: 7px; margin-bottom: 7px;">
                          <label class="assetFontColor" >AssetName{{asset.a_name}}</label>
                           <img class="qr_image" *ngIf = "asset.hasQRCode" src="{{asset.qr}}" class="img-thumbnail" width="100" height="100" >
                          <label class="assetFontColor">123-456-788</label>
                          </div>
                         
                    </div>
                </div>
                                
                                  
            </div>
            
      </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-right" data-dismiss="modal" (click)="onClose()">Cancel</button>
        <button type="submit" class="btn btn-default pull-right pwd"(click)="print_Asset()">Print</button>
      </div>





  <!-- <div class = "modaldiv" id="modal">

    <div class="modal-header"><span class="modalHeadingFont">SPrint</span></div>
      <div id="modal_body" class="modalBody" *ngIf = "!printAllQR">
      <div>
        <label class="assetFontColor"  *ngIf="flag_print_asset">{{printable.a_name}}</label>
                <img class="qr" *ngIf="flag_print_asset"  src="{{printable.qr}}">
                <img class="qr" *ngIf="!flag_print_asset"  src="{{printable.no_qr}}">
                <label class="assetFontColor" *ngIf="flag_print_asset">{{printable.qr_code_value}}</label>
      </div>

    </div>
    <div id="modal_body" class="modalBody" *ngIf = "printAllQR" style="overflow-y:auto;height: 20em;">
           <div class = " " *ngFor="let asset of filteredAssetList; let index=index" style="margin-top: 11px;background:white;border:none;">
              <div class="row-fluid row-style lin-grad">
                  <div class="container-fluid">  
                      <div class="col-md-12 "style="margin-top: 7px; margin-bottom: 7px;">
                        <label class="assetFontColor" >AssetName{{asset.a_name}}</label>
                         <img class="qr_image" *ngIf = "asset.hasQRCode" src="{{asset.qr}}" class="img-thumbnail" width="100" height="100" >
                        <label class="assetFontColor">123-456-788</label>
                        </div>
                       
                  </div>
              </div>
                              
                                
          </div>
          
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-right" data-dismiss="modal" (click)="onClose()">Cancel</button>
      <button type="submit" class="btn btn-default pull-right pwd" *ngIf="flag_print_asset || filteredAssetList.length != 0" (click)="print_Asset()">Print</button>
    </div> -->

<!--  -->
<!--  -->
  <!--<div class="modaldiv" id="modal">
    
       
        <div class="modal-header"><span class="modalHeadingFont">Print</span></div>
        <div id="modal_body" class="modalBody">
          <div>
                <label class="assetFontColor"  *ngIf="flag_print_asset">{{printable.a_name}}</label>
                <img class="qr" *ngIf="flag_print_asset"  src="{{printable.qr}}">
                <img class="qr" *ngIf="!flag_print_asset"  src="{{printable.no_qr}}">
                <label class="assetFontColor" *ngIf="flag_print_asset">{{printable.qr_code_value}}</label>
          </div>
            <div class="pull-right operationdiv">


              <button *ngIf="flag_print_asset" type="submit" class="btn btn-default " (click)="print_Asset()"> Print </button>
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="onClose()">Cancel</button>
            </div>
        </div>
    
  </div>-->