
.form-control{
    height:40px;
}
.btn{
    background-color: gainsboro;
    /*color: black*/
}
form{
    margin-top:5%
}
/*.btn-register{
    background-color: green;
    color:white
}
.form-control{
    height:40px;
}
.btn-register{
cursor: pointer; cursor: hand;
}*/