            <form #registrationform="ngForm" class="reg-form">
                <!--<div class="form-group">
                  <input class="form-control" type="text" placeholder="Name*" [(ngModel)]="username" name="name" #name="ngModel" required>
                </div>-->

                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Email address*" [(ngModel)]="account.user.EmailId" name="EmailId" #EmailId="ngModel" required (click) = "clearFailMessage()">
                </div>

                <div class="form-group">
                  <input class="form-control" type="text" placeholder="Re-enter Email address*" [(ngModel)]="account.ConfirmEmailId" name="ConfirmEmailId" #ConfirmEmailId="ngModel" required (click) = "clearFailMessage()">
                </div>
                
                <div class="form-group">
                  <input class="form-control" type="password" placeholder="Password*" [(ngModel)]="account.user.Password" name="Password" #Password="ngModel" required (click) = "clearFailMessage()">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <button  class="form-control btn " value="Sign Up"  [disabled]="!registrationform.form.valid" (click) = "doRegistration()" >
                        Sign Up
                      </button>
                    </div>
                  </div>
                </div>
                <div>
                  <div class="well-sm" *ngIf="this.failedRegistration.isFailedRegistration">
                    <span style="color: red">{{this.failedRegistration.statusMessage}}</span>
                  </div>
                </div>
            </form>  


      <!--<form #myForm="" novalidate (ngSubmit)="save(myForm.value, myForm.valid)">
      <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" formControlName="name">
      <small [hidden]="myForm.controls.name.valid || (myForm.controls.name.pristine && !submitted)" class="text-danger">
            Name is required (minimum 5 characters).
      </small>
    </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>-->