.header{
    width: 100%;
    background:#f5f5f5;
    padding: 0px;
    padding-top: 0px;
    /*height: 3.5em;*/
    border: 1px solid #e3e3e3;
}


.lin-grad
{
     background: linear-gradient(to bottom,#fff,#ddd); 
     
}

.title{
    /*margin-top:14px;*/
    display: inline-block;
    margin-left: 21px;
}

.custom_container{
      background-color: #eee;
    border: solid;
    border-width: thin;
     border-color: #eee;
    
    margin-top: 0.5%;
    /*padding-top: 3%;*/
    padding-bottom:1%;
    min-height:33em;
}