    <div class="header lin-grad">
            <i class="fa fa-chevron-left" (click) = "goToPrevious()" style="cursor:pointer;margin-left:1%"></i>
            <div class="title"><h2 class = "titleFont">{{campaignName}}</h2></div>
    </div>

    <div class="custom_container">
      <div class="panel panel-default" style="margin-bottom:0px">
        <div class="panel-heading lin-grad">
          <div class="container-fluid">
              <div class="col-sm-11" style="padding-left: 0px;">
                  <label class=""><span class="titleFont">Graph of Views per Asset </span></label>
              </div>
          </div>
              <div class="panel-body" style="background: #eeecec;"> 
                <div style="display: block">
                    <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType" 
                      [colors]="chartColors" >
                    </canvas>
                </div>
              </div>
      </div>
    </div>
