
            <div class="header lin-grad">
                    <i class="fa fa-chevron-left" (click) = "goToPrevious()" style="cursor:pointer"></i>
                    <div class="title"><h2 class = "titleFont">Feedbacks</h2></div>
                    <a class = "anchorLink"><h2 class = "titleFont" (click)="deleteAllFeedback()">Delete All</h2></a>
            </div>
                <div class="col col-sm-12 custom_container">
                    <div class = "no_Items_found"  *ngIf = "stateData.feedbackList.length == 0">
                          No feedback found
                    </div>
                    <div *ngIf = "stateData.feedbackList.length != 0">
                    
                        <div *ngFor='let feedback of stateData.feedbackList ;' class="viewFeedback">
                            <div style="margin-top: -12px;margin-right: -10px;"><i class="fa fa-window-close closeIcon" aria-hidden="true" style="cursor: pointer;" (click) = "delSingleFeedback(feedback)"></i></div>
                            <div style="margin-top: -12px;margin-left: -10px;"><p><span class="label label-default ">{{feedback.createdDate}}</span></p></div>
                            <p>{{feedback.metaData}}</p>
                        </div>
                        <!-- <div class="viewFeedback">
                            <i class="fa fa-window-close closeIcon" aria-hidden="true"></i>
                            <p>Museums, art galleries and exhibitions have the need to present to their visitors detailed information about the exhibited items.  Managing, assigning, presenting and maintaining the appropriate information about each item has always been a challenge.</p>
                        </div>
                        <div class="viewFeedback">
                            <i class="fa fa-window-close closeIcon" aria-hidden="true"></i>
                            <p>Museums, art galleries and exhibitions have the need to present to their visitors detailed information about the exhibited items.  Managing, assigning, presenting and maintaining the appropriate information about each item has always been a challenge.</p>
                        </div> -->
                    </div>
                    
                </div>
        
        <!--</div>-->
 <!--</div>-->
