.wrap {
	width: 97%;
    height: 87vh;
	margin: 0 auto;
    border-style: ridge;
    position:fixed;
    background-color:white;
    border-radius: 10px;
    /* font-size: 20px; */
    opacity:0.9;
    overflow-y: auto;
}
.container{
    border: 1px solid gainsboro;
    height: 42em;
    
}
.custom_container{
      background-color: #eee;
    border: solid;
    border-width: thin;
     border-color: #eee;
    
    margin-top: 0.5%;
    /*padding-top: 3%;*/
    padding-bottom:1%;
    min-height:33em;
    
}
.form-control{
    height:50px;
}

@media(max-width:586px){
    .input_box{
        height:5%;
    }
}
@media(max-width:992px){
    .container{
        width: 500px;
    }
    /*.noQRFound{
    width: 100px;
    height: 100px;
    background: #dededd;
    padding: 50px;
    margin-left: 34px;
    }*/
}
@media(max-width:768px){
    .container{
        width: 500px;
    }
}
@media(max-width:1002px){
    .custom_container{
     margin-top: 4%;
     margin-bottom: 4%;
    
    }
    .container{
        height: 100%
    }
}
.submit_btn{
margin-top: 3%;
}
.cancel_btn{
    margin-top: 3%;
    margin-left: 2%;
    border-radius: 6px;

}

.generate_btn{
    border-radius: 6px;
    margin-top: 5%;
}
.qr_image{
    width :9em;
    margin-left: 2em
}
.title{
    /*margin-top:14px;*/
    display: inline-block;
    margin-left: 21px;
}
/* .titleFont{
    color: hsl( 216, 50%, 13% );
    font-size: 11px;
    font-weight: 800;
    letter-spacing: 0.1818em;
    margin-bottom: 1.5em;
    text-transform: uppercase;

} */

.anchorLink{
    float:right;
    margin-top:-1px;
    cursor:pointer;
    padding-right: 11px;
}
.subscriptionFont{
    margin-left: 20px;
    color : #f5f5f5
}
.noQRFound{
   width:100px;
    height:100px;
    background: #dededd;
    padding:20px;
    margin-left: 21px;
}
.QRButtonHolder{
    /*text-align: right;*/
    width: 40%;
    /*margin-left: 39%;*/
    padding-top: 5px;
    padding-bottom: 5px;
}
.header{
    width: 100%;
    background:#f5f5f5;
    padding: 10px;
    padding-top: 0px;
    height: 3.5em;
    border: 1px solid #e3e3e3;
}
@media(max-width:586px){
    .cancel_btn{
    width: 14%;
    margin-top: 3%
   
    }

   
}
@media(max-width:586px){
    .editor_container{
        margin-bottom: 2%
    }
}

.qrCodeGeneratorButton{
     margin-top: -16%;
    margin-left: 2%;
    border-radius: 6px;
}
.listItems{
    margin-top: 3px;
}
.logPanel{
     padding: 0px;
    height: 17em;
    overflow-y: auto;
}
.feedbackPanel{
    padding: 0px;
    height: 29em;
    overflow-y: auto;
}

.lin-grad
{
     background: linear-gradient(to bottom,#fff,#ddd); 
     
}
.viewFeedback{
   width: 100%;
    border: 1px solid gainsboro;
    background: #f7f7f7;
    margin-bottom: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top:12px;
    margin-top: 5px;
}
.closeIcon{
    float: right;
}

    /*working  */
.no_Items_found{
    text-align: center;
    font-weight: 600;
    margin-top: 30px;
}

.feedBackDateColor{
    color: #999;
}