
  <form #loginform = "ngForm" class="login-form">
    <div class="form-group">
      <input class="form-control" type="text"   [(ngModel)]="user.EmailId" placeholder="Username*" #name="ngModel" name="name"  required (click) = "clearFailMessage()">
    </div>

    <div class="form-group">
      <input class="form-control" type="password" [(ngModel)]="user.Password" placeholder="Password*" #passwrd="ngModel" name="passwrd" required (click) = "clearFailMessage()">
    </div>


    <div class="form-group text-center">
      <input  type="checkbox" tabindex="3">
      <label>Remember me</label>
    </div>

    <div class="form-group row">
        <div class="log col-lg-12">
          <!-- <button  class="form-control btn " value="Sign In" (click)="doLogin()" [disabled]="!loginform.form.valid" > -->
          <button  class="form-control btn " value="Sign In" (click)="doLogin()">
            Sign In
          </button>
        </div>
    </div>
    <div class="form-group row">
      <div class="col-lg-12">
        <div class="text-center displayBlock" >
          <button type="button" tableindex="4" class=" btn" (click)="Forgot_password()">Forgot Password?</button>
        </div>
      </div>
    </div>
    <div class=" row" >
      <div class="well-sm">
        <span style="color: red">{{this.failedLogin.statusMessage}}</span>
      </div>
    </div>
</form>       
    
