
.form-control{
    height:46px;
}

form{
    margin-top: 4%;
}
.btn{
    background-color: gainsboro
}



/*.btn-login{
    background-color:darkblue;
    color:white
}


.displayBlock{
    display: block;
    float: right;
}

.log{
    cursor: pointer; cursor: hand;

}*/