.modalBody{
    padding:50px;
    position:relative;
    height:10%;
}

.modal-header{
    background :#f5f5f5;
     font-weight: 600;
     border-top-left-radius:15px;
     border-top-right-radius:15px;

}

.pwd{
    margin-right: 1%
}
.captcha{
    width: 159px;
    height: 50px;
}


.modal-content  {
    
    border-radius: 15px; 
}
form{
    margin-top:-6%
}