
<div   *ngIf="flag_forgt_pwd==true">
  <div class="modal-header"><span class="modalHeadingFont">Password Recovery</span></div>
<div class="modalBody">
  <form>
  <div class="form-group">
    <input type="text"  class="form-control" id="email" placeholder="Email Address" [(ngModel)]="recovery.emailId" name="emailId"  >
  </div>
  
   <button type="button" class="btn btn-default pull-right" data-dismiss="modal" (click)="onClose()">Close</button>
  <button type="submit" class="btn btn-default pwd pull-right" (click)="recoveryPassword(recovery.emailId)">Recover Password</button>
  
  </form>
  </div>
</div>


<div  *ngIf="flag_chng_pwd==true">
  <div class="modal-header"><span class="modalHeadingFont">Change Password</span></div>
<div class="modalBody">
  <form>
  <div class="form-group">
    <input type="password"  class="form-control" [(ngModel)]="changePasswordObj.CurrentPassword" name="CurrentPassword" id="pwd" placeholder="Enter Password">
  </div>
  <div class="form-group">
    <input type="password"  class="form-control" [(ngModel)]="changePasswordObj.NewPassword" name="NewPassword" id="new_pwd" placeholder="Enter New Password">
  </div>
  
   <div class="form-group">
    <input type="password"  class="form-control" id="cnfrm_pwd" placeholder="Confirm Password ">
  </div>
  <button type="button" class="btn btn-default pull-right" data-dismiss="modal" (click)="onClose()">Cancel</button>
  <button type="submit" class="btn btn-default pull-right pwd" (click)="change_pwd()">Change Password</button> 
  </form>
  </div>
</div>



<div  *ngIf="flag_terminate==true">
  <div class="modal-header"><span class="modalHeadingFont">Terminate Account</span></div>
<div class="modalBody">
  <form>
  <div class="form-group">
    <img class="captcha" src="../assets/input-black.gif">
  </div>
   <div class="form-group">
    <input type="text"  class="form-control" id="terminate" placeholder="Enter above code  ">
  </div>
  <button type="button" class="btn btn-default pull-right" data-dismiss="modal" (click)="onClose()">Close</button>
  <button type="submit" class="btn btn-default pull-right pwd" (click)="terminate()">Terminate Now</button>
  
  </form>

  </div>
  
</div>
