.modalBody{
    padding:20px;
    position:relative;
    height:20%;
    text-align: center
}

.modal-header{
    background :#f5f5f5;
     font-weight: 600;
     border-top-left-radius:15px;
     border-top-right-radius:15px;

}

.pwd{
    margin-right: 1%
}



.modal-content  {
    
    border-radius: 15px; 
}

.qr{
    height:150px;
    width:100%;
    
}
#modal_body img {
    display: block;
    margin: auto;
    
}

.lin-grad
{
     background: linear-gradient(to bottom,#fff,#ddd); 
     padding: 8px 15px;
}
.row-style
{
    border:2px solid #ddd;
    padding-top:15px;

}
.assetFontColor{
    color: #336699;
}
.modaldiv{
    margin-bottom: 30px;
}
.operationdiv{
    margin-top: 10px;

}