

<div class="container custom_container">
  <div class="panel panel-default ">
  <div class="panel-heading">
    <img class="logo img-responsive" src="../assets/emlogo.png">
  </div>
  <div class="panel-body mainPanel">
    <!-- <div class="loginDetail">
      <div class="container-fluid">
              <div class="col-sm-6">
               <div style="padding: 15px"> <span class="fontColor">Last Login : 22/02/2017 08:42</span></div>
              </div>
              <div class="col-sm-6">
                <ul class="nav navbar-nav navbar-right" >
                  <li class="dropdown">
                    <a data-toggle="dropdown"  aria-expanded="false" style="color:grey; padding: 5px;">Options<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a>Settings</a></li>
                      <li class="divider"></li>
                      <li (click)="Change_password()"><a >Change Password</a></li>
                      <li class="divider"></li>
                      <li (click)="Terminate_account()"><a>Terminate Account</a></li>
                      <li class="divider"></li>
                      <li (click) = "logOut()"><a>Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
      </div>
      
    </div> -->
    <div class="container-fluid" style="padding: 1em 1em;">
          <router-outlet></router-outlet>
    </div>
     
</div>
  </div>
</div>
