

@media(max-width:586px){
    .cmpn{
      width:35%;
      height:50px;
    }
}




.wrap {
    /* width: 97%; */
    /* border-style: ridge; */
    /* position:fixed; */
    /* background-color:white; */

/*     
    height: 87vh;
	margin: 0 auto;

    border-radius: 10px;
    font-size: 20px;
    opacity:0.9; */
    
}

#main-content, #sidebar-left,{
	width: 100%;
	float: left;
    
}

#sidebar-left{
    height: 49vh;
}

 

/*3 Column Layout*/
@media only screen and (min-width: 1024px) {
	.wrap {
		/*width: 1024px;*/
		margin: 0 auto;
	}
	
	#main-content {
		width: 69%;
		float: left;
        margin-left: 26px;
	}
	
	#sidebar-left {
		width: 25%;
		float: left;
	}
}


@media only screen and (min-width: 1200px) {
	.wrap {
		/*width: 1140px;*/
		margin: 0 auto;
       
	}
   
   
}


.campaign_description_box{
    background:white;
    font-size: medium;
    padding: 14px;

}



.asst{
    /* text-align: left; */
    /* font-size: large; */
    padding-left: 1%;
}


.no_Items_found{
    text-align: center;
    font-weight: 600;
}

.subscribeFont{
    
    font-size: 15px;
    color: #659ec7;
}

 .custom_container{
   /* border: 1px solid gainsboro;
     padding: 16px;
    max-width: 1000px;
    margin-bottom: 5px; */
} 

@media(max-width:586px){
    .custom_container{
     width: 500;
    }
}
@media(max-width:992px){
    .custom_container{
     width: 500;
    }
}


.qr_image{
    width:100%;
  
}



.iconHolder{
    width: 20px
}

.user-image{
    height: 78px;
}

.fileContainer {
    overflow: hidden;
    position: relative;
}

.fileContainer [type=file] {
    cursor: pointer;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.lin-grad
{
     background: linear-gradient(to bottom,#fff,#ddd); 
     padding: 8px 15px;
}
.row-style
{
    border:2px solid #ddd;
    padding-top:15px;
}
.curved-headed-panel{
    border: 4px,4px,0px,0px;
}