
        <div class="" style="padding-left: 0px;">
          
                          <form class="panel panel-default" style="margin-bottom: 10px;">
                                    <div class="form-group  curved-headed-panel " style="margin-bottom: -1px;padding-top: 5px;">
                                          <div class="panel-heading lin-grad">
                                              <div class="container-fluid">
                                                  <div class="col-sm-11" style="padding-left: 0px;">
                                                      <label class=""><span class="titleFont">Available Campaigns</span></label>
                                                  </div>
                                              </div>
                                                  <div class="row">
                                                    <div class="col-sm-12" style="padding-bottom: 7px;">
                                                        <div class="col-sm-9" style="padding-right: 9px;" >
                                                            <select class="form-control" [(ngModel)] = "stateData.selectedCampaign.campaignName" id = "campaignName" name="campaignName" *ngIf="stateData.campaignList.length != 0" (ngModelChange) = "check(stateData.selectedCampaign.campaignName)" style="min-width: 130px;">
                                                              <option *ngFor="let c of stateData.campaignList ; let index = index" [ngValue]="c.campaignName">{{c.campaignName}}</option>
                                                            </select>
                                                            <select class="form-control" id="sel1" *ngIf="stateData.campaignList.length == 0">
                                                                <option value="">Please create a campaign</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                          <div class="col-sm-3" style="text-align: right; padding-right: 8px;"> 
                                                              <button type="button" class="btn btn-default" (click)= "openCreateCampaignModal()">Create Campaign</button>
                                                          </div>
                                                        </div>
                                                    </div>
                                                  </div>
                                          </div>
                                    </div>
                                    <div class="panel-body" style="background: #eeecec;">
                                      <div *ngIf = "stateData.selectedCampaign" >
                                            <div>  
                                              <div class="row">
                                                <div class="col-sm-5"  style="padding-left: 22px;">
                                          <div style="margin-left: 12px;  margin-top:8px;" *ngIf = "stateData.selectedCampaign.subscription && stateData.selectedCampaign.isValidSubscription">
                                            <span >Subscription expiry date: </span>
                                            <span  class="subscribeFont">{{stateData.selectedCampaign.subscription.expiryDate}}</span>
                                          </div>
                                          <div style="margin-left: 12px; margin-top:8px;" *ngIf = "stateData.selectedCampaign.subscription && !stateData.selectedCampaign.isValidSubscription">
                                            <span style="color:red">Subscription expired!</span>
                                          </div>
                                          <div style="margin-left: 12px; margin-top:8px;"><span class="subscribeFont" style="color:red" *ngIf = "!stateData.selectedCampaign.subscription">No valid subscription!</span></div>
                                          <div style="margin-left: 12px; margin-top:8px;" *ngIf = "stateData.selectedCampaign.subscription && stateData.selectedCampaign.isValidSubscription">
                                            <span >Remaining assets count: </span><span class="subscribeFont"> {{stateData.selectedCampaign.subscription.assetCount}}</span>
                                          </div>
                                      </div>
                                                <div class="col-sm-7">
                                                    <div style="float:right">
                                                      <button type="button" class="btn btn-default" *ngIf = "!stateData.selectedCampaign.isValidSubscription" (click) = "addSubscription()"  style="margin-right: 9px;margin-top:2px">Add Subscription</button>
                                                      <button type="button" class="btn btn-default" *ngIf = "stateData.selectedCampaign.isValidSubscription" (click) = "addSubscription()" style="margin-right: 9px;margin-top:2px">Renew Subscription</button>
                                                      <button type="button" class="btn btn-default"  (click)="deleteCampaign()" style="margin-right: 9px;margin-top:2px">Delete Campaign</button>
                                                      <button type="button" class="btn btn-default" (click) = "createAssetForSelectedCampaign()"  style="margin-right: 9px;margin-top:2px">Create Asset</button>
                                                    </div>
                                                </div>
                                              </div>
                                          </div>
                                      </div>
                                    </div>
                            </form>
                          <!--  -->
                          <div class="panel panel-default" style="margin-bottom:0px">
          
                          <!--enter scrollable div  -->
                                  <!-- <div style="max-height: 200px; overflow-y:auto; overflow-x: hidden" > -->
                            <div class="panel-body" style="background: #eeecec;">    
                                  <div class = "no_Items_found"  *ngIf = "!stateData.selectedCampaign.campaignName || stateData.selectedCampaign.campaignName.length==0">
                                      No campaigns found
                                  </div>
                                  
                                  <div class = "no_Items_found"  *ngIf = "stateData.selectedCampaign.campaignName && stateData.selectedCampaign.assetList.length == 0">
                                    No assets found
                                  </div>
                              
                                  <div *ngIf = "stateData.selectedCampaign.assetList.length != 0">
                                    <div class="row">
                                        <div class="col-sm-4"  style="padding-left: 22px;"><label ><span style="margin-left: 12px;" >List of Assets ({{stateData.selectedCampaign.assetList.length}})</span></label></div>
                                        <div class="col-sm-8">
                                          <div style="float:right">
                                            <button class="btn btn-default" (click) = "openCampaignGraph()" style="margin-right: 9px;margin-top:2px;"><i class="fa fa-bar-chart" style="cursor:pointer; color:#336699; font-size: 18px;" aria-hidden="true"></i></button>
                                            <button class="btn btn-default" (click) = "printAllQR()" style="margin-right: 9px;margin-top:2px;"><i class="fa fa-download" style="cursor:pointer; color:#336699; font-size: 18px;" aria-hidden="true"></i></button>
                                          </div>
                                        </div>  
                                    </div>
                                    <div class = " " *ngFor="let asset of stateData.selectedCampaign.assetList ; let index=index" style="margin-top: 11px;background:white;border:none;">
                                      <div class="row-fluid row-style lin-grad">
                                        <div class="container-fluid">  
                                          <div class="col-md-2 "style="margin-top: 7px; margin-bottom: 7px;">
                                              
                                              <img class="qr_image" *ngIf = "asset.qrCode != null" src="{{qrCodeImageBaseURL}}{{asset.qrCodeImageURL}}" class="img-thumbnail" width="100" height="100" >
                                              <img class="qr_image" *ngIf = "asset.qrCode == null" src="../assets/noqrcodefound.png" class="img-thumbnail" width="100" height="100" >
                                            
                                          </div>
          
                                          <div class="col-sm-9" style="margin-top: 14px; margin-bottom: 20px;">
                                            <div style="font-weight: 600"><span id="s">{{asset.name}}</span></div> 
                                              <div class="col-sm-3"style="margin-top: 8px;">    
                                                  <div class = "row"style="margin-top: 6px;"  >
                                                    <div class="col-md-6"><span>Views </span></div>
                                                    <div class="col-md-6"><span (click) = "goToViewLogs(asset.id)" class="badge"  
                                                      style="cursor:pointer; background-color:#336699;">{{asset.viewCount}}</span></div>
                                                  </div>
                                                  <div class = "row" style="margin-top: 6px;">
                                                    <div class="col-md-6" ><span>Feedback </span></div>
                                                    <div class="col-md-6"><span (click) = "goToFeedback(asset.id)" class="badge"
                                                    style="cursor:pointer; background-color:#336699;">{{asset.feedbackCount}}</span></div> 
                                                  </div>
          
                                              </div>
                                          </div>
                                          <div class="col-sm-1"style="margin-top: 22px; margin-bottom: 2px; ">
                                            <div style="margin: 0 auto; float:right ">
                                              <div><i class="fa fa-eye" (click)="goToView(asset.id)" style="cursor:pointer; color:#336699; font-size: 18px;"></i></div><br/>
                                              <div><i class="fa fa-trash-o" (click)="remove_asset(asset)" style="cursor:pointer; color:red; font-size: 18px;"></i></div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>

                                    </div>
                                  </div>
                                
                            </div>  
                          </div>
                    
                  </div>