.mega-dropdown {
  position: static !important;
}
.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
  
}
.mega-dropdown-menu > li > ul > li > a {
  display: block;
  color: #222;
  padding: 3px 5px;
  
}
.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
   cursor: pointer; cursor: hand;
}
.mega-dropdown-menu .dropdown-header {
  font-size: 18px;
  color: #ff3546;
  padding: 5px 60px 5px 5px;
  line-height: 30px;
}

.carousel-control {
  width: 30px;
  height: 30px;
  top: -35px;

}
.left.carousel-control {
  right: 30px;
  left: inherit;
}
.carousel-control .glyphicon-chevron-left, 
.carousel-control .glyphicon-chevron-right {
  font-size: 12px;
  background-color: #fff;
  line-height: 30px;
  text-shadow: none;
  color: #333;
  border: 1px solid #ddd;
}

.navList{
  
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}
li{
  cursor: pointer; cursor: hand;
}
.logo{
  /*width:210px*/
}
.navbar-default .navbar-nav > li > a{
  font-size:16px;
}
.custom_container{
  /* width: 85%; */
}
.loginDetail{
    /* min-height: 20px; */
    /* padding: 19px; */
    /* margin-bottom: 20px; */
    background-color: #f5f5f5;
    border-bottom: 1px solid #e3e3e3;
    /* height: 7vh; */
}
.mainPanel{
  padding: 0px;
}
.dropdown{
  margin-top: 8px;
}
.dropdown>a:hover{
  background: #f5f5f5;
  border-bottom: 1px solid #e3e3e3;
  border-top: 1px solid #e3e3e3;
}
.fontColor{
  color: #999;
}

@media(max-width:586px){
  .custom_container{
   width: 500;
  }
}
@media(max-width:992px){
  .custom_container{
   width: 500;
  }
}