<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">outReach</a>
    </div>
    <ul class="nav navbar-nav navList">
      <li><a href="#">Home</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown">Options
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a >Page 1-1</a></li>
          <li><a >Page 1-2</a></li>
          <li><a >Page 1-3</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>-->


<!--
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
    	<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>

		<a class="navbar-brand"><img src="" style=" width: 130px;"></a>

	</div>
	
	<div class="collapse navbar-collapse js-navbar-collapse">
		<ul class="nav navbar-nav">
		
		</ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle navList" data-toggle="dropdown" role="button" aria-expanded="false">Options<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a>Settings</a></li>
              <li class="divider"></li>
              <li (click)="Change_password()"><a >Change Password</a></li>
              <li class="divider"></li>
              <li (click)="Terminate_account()"><a>Terminate Account</a></li>
              <li class="divider"></li>
              <li (click) = "logOut()"><a>Logout</a></li>
            </ul>
          </li>
       </ul>
	</div>
  
</div>
</nav>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>-->


<div class="container custom_container">
  <div class="panel panel-default ">
  <div class="panel-heading">
    <img class="logo img-responsive" src="../assets/emlogo.png">
  </div>
  <div class="panel-body mainPanel">
    <div class="loginDetail">
      <div class="container-fluid">
              <div class="col-sm-6">
               <!-- <div style="padding: 15px"> <span class="fontColor">Last Login : 22/02/2017 08:42</span></div> -->
               <div style="padding: 15px"> <span class="fontColor">Last Login : {{stateData.loggedUser.lastLogin}}</span></div>
              </div>
              <div class="col-sm-6">
                <ul class="nav navbar-nav navbar-right" >
                  <li class="dropdown">
                    <a data-toggle="dropdown"  aria-expanded="false" style="color:grey; padding: 5px;">Options<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a>Settings</a></li>
                      <li class="divider"></li>
                      <li (click)="Change_password()"><a >Change Password</a></li>
                      <li class="divider"></li>
                      <li (click)="Terminate_account()"><a>Terminate Account</a></li>
                      <li class="divider"></li>
                      <li (click) = "logOut()"><a>Logout</a></li>
                    </ul>
                  </li>
                </ul>
              </div>
      </div>
      
    </div>
    <div class="container-fluid" style="padding: 1em 1em;">
          <router-outlet></router-outlet>
    </div>
     
</div>
  </div>
</div>
