
/* .custom_container{
       width: 85%;
   
} */

.logo{
    width:270px;
}

a{
    text-decoration: none;

    font-size: 20px;
    cursor: pointer; cursor: hand;
}
.landing{
   
    margin-top:9%;
    margin-bottom: 9%;
     max-width: 400px; 
}
.route{
    /* height:330px; */
    background-color: whitesmoke;
}
.titleFont{
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
}

@media(max-width:900px){
    a{
    font-size: 13px !important;
   
    }
 
 .logo{
        width: 200px;
    }
    
  .titleFont{
    font-size: 12px;
    margin-bottom: 8px;
    margin-top: 8px;
}
    
}

.log{
    border-top: 0px;
    border-left: 0px;
}
.reg{
     border-top: 0px;
    border-right: 0px;
}
.btn:hover{
    background-color: white
}