
<!--<<<<<<< HEAD
<div class="container custom_container">
    <div class="panel panel-default ">
        <div class="panel-heading">
          <img class="logo" src="../assets/emlogo.png">
        </div>
        <div class="panel-body">
          <div class="col col-sm-3">
          </div>
          <div class="col col-sm-6 landing">
            <div class="panel panel-default" >
                  <div class="btn-group btn-group-justified">
                      <div  type="button" (click)="log()"  [style.background]="getstyle_log()" [style.border-bottom-color]="getborder_color_log()" class="btn btn-default log"><h2 class="titleFont">Sign In</h2></div>
                      <div  type="button" (click)="reg()"  [style.background]="getstyle_reg()" [style.border-bottom-color]="getborder_color_reg()" class="btn btn-default reg"><h2 class="titleFont ">Sign Up</h2></div>
                  </div>
                  <div class="panel-body route">
                      <router-outlet></router-outlet>
                  </div>
               
            </div>
      </div>
    </div>
=======-->
<div class="container">
  <div class="panel panel-default ">

    <div class="panel-heading">
    <img class="logo" src="../assets/emlogo.png">
  </div>
  <div class="panel-body" style="padding-left: 25%;
    padding-right: 25%;
    padding-top: 8%;
    padding-bottom: 8%;">
   
    <div style="text-align:center">
      <div class="panel panel-default" >
        
          <div class="btn-group btn-group-justified">
            <div  type="button" (click)="log()"  [style.background]="getstyle_log()" [style.border-bottom-color]="getborder_color_log()" class="btn btn-default log"><h2 class="titleFont">Sign In</h2></div>
            <div  type="button" (click)="reg()"  [style.background]="getstyle_reg()" [style.border-bottom-color]="getborder_color_reg()" class="btn btn-default reg"><h2 class="titleFont ">Sign Up</h2></div> 
            </div>
      
          <div class="panel-body route">
            <router-outlet></router-outlet>

  
          </div>
        </div>

      </div>
    </div>
  </div>

</div>