.custom_container{
    background-color: #eee;
    border: solid;
    border-width: thin;
    border-color: #eee;
    
    margin-top: 8px;
    /*padding-top: 3%;*/
    padding-bottom:12px;
    /* min-height:32em; */

    border-radius: 4px;
    
}

.subscribeFont{
    
    font-size: 20px;
    color: #659ec7;
}
.subscriptionDiv{
    margin-top:14px; 
    margin-left: 2px; 
    text-align: center;
}