<div class="col col-sm-12 custom_container">
  <form>
    <div class="row">
        <div *ngIf = "isFeedbackLive" class="col-md-8">
            <label>
                <h2 class="titleFont">Asset Name</h2>
            </label>
            <!-- <input class="form-control input_box" style="height:auto" type="text" [disabled] = "true" [(ngModel)]="asset.name" name="name" #name="ngModel"> -->
            <input class="form-control input_box" style="height:auto" type="text" [disabled] = "true" [(ngModel)]="asset.name" name="name" #name="ngModel">
        </div>
        <!-- <div class="col-md-2" style="width:14%">
            <div style="text-align: center;">
                <p class="titleFont" style="width:122px;margin-top:17%;margin-left: 2%;">QRCOde</p>
                <p class="titleFont" *ngIf = "!hasQRCode" style="width:122px;margin-left: 2%;font-size:10px;font-weight: 100;margin-top: 25%;">-------</p>
                <p  class=""  *ngIf = "hasSubscrition && hasQRCode" style="width:122px;margin-left: 2%;margin-top: 25%;">{{asset.qrCode}}</p>
            </div>
            
        </div>
        <div class="col-md-2">
            <div class="QRButtonHolder">
                    <button type="button" *ngIf = "hasSubscrition && !hasQRCode" tableindex="4" class="btn btn-default qrCodeGeneratorButton" (click) = "generateQRCode()"><h2 class="titleFont" style="margin-top: 0.5em;margin-bottom: 0.5em;">Generate QR Code</h2></button>
                    <button type="button" disabled = "true" *ngIf = "!hasSubscrition && !hasQRCode" tableindex="4" class="btn btn-default qrCodeGeneratorButton" (click) = "generateQRCode()" ><h2 class="titleFont" style="margin-top: 0.5em;margin-bottom: 0.5em;">Generate QR Code</h2></button>
                    <button type="button" *ngIf = "hasSubscrition && hasQRCode" tableindex="4" class="btn btn-default qrCodeGeneratorButton" (click)="print_asset(asset)" style="margin-left:2%" ><h2 class="titleFont" style="margin-top: 0.5em;margin-bottom: 0.5em;">Print QR Code</h2></button>
                    
                </div>
        </div> -->

    </div>
    <div *ngIf = "isFeedbackLive">
        <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;" >
                <label>
                <h2 class="titleFont">Asset Description</h2>
                </label>

            <!-- <ckeditor debounce="600" [readonly]="true" [(ngModel)]="asset.metaData" name="metaData" -->
            <!-- <ckeditor debounce="600" [readonly]="true"  name="metaData" [(ngModel)]="asset.metaData" name="metaData"
            [config]="{toolbarGroups:[],height:'200px'}">
                        
                        abcd
            </ckeditor> -->
            <!-- <p ng-bind-html="feedbackStr"></p> -->
            <div class = "panel panel-default"><div class="panel-body"  [innerHtml]="asset.metaData"></div></div>

        </div>
        <div *ngIf = !noFeedbackSending>
            <div class="col-md-12" style="padding-left: 0px; padding-right: 0px;">
            <label style="margin-top:5px" for="comment"><h2 class="titleFont">Comment</h2></label>
            <textarea class="form-control" rows="5" id="comment" [(ngModel)]="feedbackStr" name="feedbackStr" placeholder="Enter comment here."></textarea>  
            </div>
            <div class="col-md-12"style="padding-left: 0px;">
                <div style="margin-top:5px" ><button type="button" tableindex="4" class="btn btn-default"  style="margin-top:5px" (click)='sendFeedback()' ><h2 class="titleFont" style="margin-top: 0.5em;margin-bottom: 0.5em;">Send</h2></button></div>
            </div>
        </div>
    </div>
    <div >
        <div class="subscriptionDiv"><span class="subscribeFont"  *ngIf = "!isFeedbackLive">Subscription Expired</span></div>
    </div>
    

</form>
</div>
