
            <div class="header lin-grad">
                    <i class="fa fa-chevron-left" (click) = "goToPrevious()" style="cursor:pointer"></i>
                    <div class="title"><h2 class = "titleFont">Scan Logs</h2></div>
                    <!--<a class = "anchorLink"><h2 class = "titleFont">Delete All</h2></a>-->
            </div>
              
                           
                <div class="col col-sm-12 custom_container">

                     
                     <ag-grid-angular #agGrid  style="width: 100%; height:80vh;padding: 28px;" class="ag-fresh"

                                [gridOptions]="gridOptions"
                                [columnDefs]="columnDefs"
                                [showToolPanel]="showToolPanel"
                                [rowData]="rowData"
                                enableSorting
                                enableFilter
                                groupHeaders
                                rowHeight="22"
                     
                  >
                </ag-grid-angular>

                </div>
        